{% extends "static/view/template.html" %}
{% block body %}
<script src="js/codemirror.js"></script>
<link rel="stylesheet" href="css/codemirror.css">
<link rel="stylesheet" href="css/solarized.css">
<script src="js/toml.js"></script>
<script src="js/vim.js"></script>
<form><textarea id="code" name="code">
{{CONTENT}}
</textarea></form>
<style>
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
</style>
<script>
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("code"), {
  mode:  "toml",
  theme: "solarized",
keyMap : "vim",
lineNumbers: true,
matchBrackets: true,
        showCursorWhenSelecting: true,
});
</script>

{% endblock %}
