<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
  .ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 400px;
  }
  </style>
<script>
  $(function() {
    var availableTags = [
{% for task in TASK_LIST%}
		"{{task}}",
		{% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags,
        select: function(event, ui) { 
    window.location.href = '{{PAGE}}?task_code='+ui.item.value;
  }
    });

    
  });
  </script>
<div class="ui-widget">
  <label for="tags">Goto:  </label>
  <input id="tags">
</div>

<div class="btn-group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"  data-toggle="tooltip" title="Choose task type">
		{{TASK_CODE}} <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		{% for task in TASK_LIST%}
		<li><a href="?task_code={{task}}">{{task}}</a></li>
		{% endfor %}
	</ul>
	<button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#call">Caller/Callee tasks</button>
	<button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#linkgraph">Call link graph</button>
	<button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#sharer">Tasks sharing the same threads</button>
	{% if COMPAREBUTTON=='yes'%}<a href="?task_code={{TASK_CODE}}&ifcompare=yes" class="btn btn-info" role="button">Compare</a>{% endif %}
</div>




<div id="call" class="collapse">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Callers</th>
					<th># of calls</th>
					<th>Callees</th>
					<th># of calls</th>
				</tr>
			</thead>
			<tbody>
			{% for index in range(jinja_max(CALLER_LIST|length,CALLEE_LIST|length)) %}
			<tr>
			{% if index < CALLER_LIST|length %}
			<td><a href="?task_code={{CALLER_LIST[index].name}}">{{CALLER_LIST[index].name}}</a></td><td>{{CALLER_LIST[index].num}}</td>
			{% else %}
			<td></td><td></td>
			{% endif %}
			{% if index < CALLEE_LIST|length %}
			<td><a href="?task_code={{CALLEE_LIST[index].name}}">{{CALLEE_LIST[index].name}}</a></td><td>{{CALLEE_LIST[index].num}}</td>
			{% else %}
			<td></td><td></td>
			{% endif %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="linkgraph" class="collapse">
{% if jinja_max(CALLER_LIST|length,CALLEE_LIST|length)!=0 %}
{% include "static/view/sankey_d3.html" %}
{% else %}<h3> Info: No call link for this task till now</h3> {% endif %}

</div>	

<div id="sharer" class="collapse">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Sharer</th>
					<th>Sharer</th>
				</tr>
			</thead>
			<tbody>
			{% for i in range(0,SHARER_LIST|length,2) %}
			<tr><td><a href="?task_code={{ SHARER_LIST[i] }}">{{ SHARER_LIST[i] }}</a></td><td><a href="?task_code={{ SHARER_LIST[i+1] }}">{{ SHARER_LIST[i+1] }}</a></td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
