{% extends "static/view/template.html" %}
{% block body %}

<style>

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.glyphicon:hover {
    background-color: #ffff00;
    cursor: pointer;
}
</style>

<div class="container">

	<div class="page-header">
	</div>

	<div class="page-header">
        <h1> <font color= #333333><center>rDSN App Store</center></font>
			<small><center><font color= #778899></font></center></small>
		</h1>
	</div>

</div>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button class="btn btn-info" data-toggle="modal" data-target="#uploadpack">App Registration </button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped" id="packList">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Author</th>
            <th>Description</th>
            <th>Details</th>
            <th>Running instance</th>
            <th>Deploy</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
</div>


<script>
$( document ).ready(function() {
    $("#source").val(window.location.href);
});
</script>



<!-- Upload Package Modal -->
<div id="uploadpack" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">App Registration</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <label for="packname" >App Name</label>
                <input id="packname">
            </div>
            <div class="col-xs-4">
                <label for="author" >Author</label>
                <input id="author">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="description" >Descrption</label>
                <textarea class="form-control" rows="5" id="description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form name="fileForm" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="iconpath" placeholder="Choose File" disabled="disabled" />
                        <div class="fileUpload btn btn-info"><span>Upload Icon</span><input type="file" name="iconToUpload" id="iconToUpload" class="upload" accept=".jpg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="filepath" placeholder="Choose File" disabled="disabled" />
                        <div class="fileUpload btn btn-warning"><span>Upload Package</span><input type="file" name="fileToUpload" id="fileToUpload" class="upload" accept=".7z"></div>
                    </div>
                </div>
                <input id="source" name="source" type="hidden" value=""></input>
                <input id="file_name" name="file_name" type="hidden" value=""></input>
                <input id="author" name="author" type="hidden" value=""></input>
                <input id="description" name="description" type="hidden" value=""></input>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('form[name=\'fileForm\']').submit();">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<style>
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #f44c0e;
}

</style>

<script src="js/store.js"></script>

{% endblock %}
