<div class="btn-group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		{{TASK_CODE}} <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		{% for task in TASK_LIST%}
		<li><a href="?task_code={{task}}">{{task}}</a></li>
		{% endfor %}
	</ul>
	<button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#call">Caller/Callee tasks</button>
	<button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#sharer">Tasks sharing the same threads</button>
	{% if COMPAREBUTTON=='yes'%}<a href="?task_code={{TASK_CODE}}&ifcompare=yes" class="btn btn-info" role="button">Compare</a>{% endif %}
</div>




<div id="call" class="collapse">
	<div class="col-xs-6">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Callers</th>
						<th># of calls</th>
					</tr>
				</thead>
				<tbody>
				{% for caller in CALLER_LIST %}
				<tr><td><a href="?task_code={{caller.name}}">{{caller.name}}</a></td><td>{{caller.num}}</td><tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Callees</th>
								<th># of calls</th>
							</tr>
						</thead>
						<tbody>
						{% for callee in CALLEE_LIST %}
						<tr><td><a href="?task_code={{callee.name}}">{{callee.name}}</a></td><td>{{callee.num}}</td><tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div id="sharer" class="collapse">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Sharer</th>
									<th>Sharer</th>
								</tr>
							</thead>
							<tbody>
						{% for i in range(0,SHARER_LIST|length,2) %}
						<tr><td><a href="?task_code={{ SHARER_LIST[i] }}">{{ SHARER_LIST[i] }}</a></td><td><a href="?task_code={{ SHARER_LIST[i+1] }}">{{ SHARER_LIST[i+1] }}</a></td><tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

